{% extends 'portfolio/base.html' %}

{% block content %}

<body id="home" class="blog">

<div id="dimmer"></div>

<nav>
  <div id="mySidenav" class="blog sidenav">
    <a href="/#about-me">AboutMe</a>
    <a href="/#skills">Skills</a>
    <a href="/#portfolio">Portfolio</a>
    <a href="/#contact">Contact</a>
    <a href="/blog">Blog</a>
  </div>
  <div id="nav-button" class="blog nav-button-ani">
    <div class="blog bar bar1"></div>
    <div class="blog bar bar2"></div>
    <div class="blog bar bar3"></div>
  </div>
</nav>

<main role="main" class="allblogs">

  <div class="container text-center">
    <h1>A Journey of a Web Developer!</h1>
  </div>

  <div class="container">
    {% for blog in blogs %}
      <div class="row justify-content-center">
        <div class="col-md-3">
            <a href="{% url 'blogdetail' blog.id %}">
              <img class="img-fluid" src="{{ blog.image.url }}">
            </a>
        </div>
        <div class="col-md-6">
          <a href="{% url 'blogdetail' blog.id %}"><h4 class="mgbot-10">{{ blog.title }}</h4></a>
          <span class="d-block text-right date mgbot-10">
            <i class="far fa-calendar"></i> {{ blog.pub_date_pretty }}
          </span>
          <p class="mgbot-10">
            {{ blog.summary | safe }}
          </p>
          <div class="d-block text-right mgbot-10">
            <a href="{% url 'blogdetail' blog.id %}" class="button">CONTINUE READING</a>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="pagination mb-4">
      <span class="step-links mx-auto">
        {% if blogs.has_previous %}
          <a href="?page=1" class="button">&laquo; FIRST</a>
          <a href="?page={{ blogs.previous_page_number }}" class="button mx-1">PREVIOUS</a>
        {% endif %}

        <span class="current mx-2">
            PAGE {{ blogs.number }} / {{ blogs.paginator.num_pages }}
        </span>

        {% if blogs.has_next %}
            <a href="?page={{ blogs.next_page_number }}" class="button mx-1">NEXT</a>
            <a href="?page={{ blogs.paginator.num_pages }}" class="button">LAST &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
</main>

{% endblock %}