{% extends 'portfolio/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-light fixed-top py-2">
  <div class="container">
    <a href="{% url 'home' %}" class="navbar-brand">
      <h3 class="d-inline align-middle">Jason</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/#aboutme" class="nav-link">About Me</a>
        </li>
        <li class="nav-item">
          <a href="/#skills-heading" class="nav-link">Skills</a>
        </li>
        <li class="nav-item">
          <a href="/#portfolio-heading" class="nav-link">Portfolios</a>
        </li>
        <li class="nav-item">
          <a href="/#contact-heading" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/blog" class="nav-link">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main role="main">
  <div class="container">
    <h1 class="text-center pt-3">Welcome to Jason's Blog!</h1>
    <br>
    <br>
    <h2>Latest Posts</h2>
    <hr>

    {% for blog in blogs.all %}
      <a href="{% url 'blogdetail' blog.id %}"><h3>{{ blog.title }}</h3></a>
      {{ blog.pub_date_pretty }}
      <br>
      <img class="img-fluid" src="{{ blog.image.url }}" heght="200" width="200">
      <br>
      <p>{{ blog.summary }}</p>
    {% endfor %}

  </div>
</main>
{% endblock %}