#front-page {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: url("../img/front-page/front-page-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#front-page .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

#front-page span {
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.4;
}

@media (max-width: 767.98px) {
  #front-page span {
    font-size: 25px;
  }
}

#front-span1 {
  font-size: 2.5rem;
}
#front-span2 {
  font-size: 3.7rem;
}
#front-span3 {
  font-size: 1.9em;
}
#front-span4 {
  font-size: 3.3rem;
}
#front-span5 {
  font-size: 2.0rem;
}
#front-span6 {
  font-size: 3.2rem;
}