#portfolio {
  min-height: 100vh;
  width: 100%;
  padding-top: 250px;
  position: relative;
  background-color: rgba(9,9,9,0.9);
}

#portfolio h1 {
  font-size: 7.5vw;
  font-weight: 600;
  color: #CEBC81;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  #portfolio h1 {
    font-size: 45px;
  }
}

#portfolio .row {
  margin-top: 9vw;
}

#portfolio .small-bar {
  position: absolute;
  width: 8vw;
  height: 0.5vw;
  background-color: #CEBC81;
  margin-top: 5vw;
}

@media (max-width: 767.98px) {
  #portfolio .small-bar {
    width: 6rem;
    height: 0.4rem;
  }
}

@media (max-width: 767.98px) {
  #portfolio .row {
    margin-top: 5rem;
  }
}

#portfolio .col-xs-12 {
  padding: 14px 14px 30px;
}

/* HOVER EFFECT */
.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  border: 1px solid rgba(206, 188, 129, 1);
  border-radius: 2px;
}
  
.hovereffect .overlay {
  width:100%;
  min-height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

.hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}

.hovereffect h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
}

.hovereffect p.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
}

.hovereffect p.info:hover {
  box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover p.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}

.hovereffect:hover p.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

/* HOVER EFFECT END */