#skills {
  min-height: 100vh;
  width: 100%;
  margin-top: 250px;
  position: relative;
}

@media (max-width: 767.98px) {
  #skills {
    margin-top: 150px;
  }
}

#skills h1 {
  font-size: 7.5vw;
  font-weight: 600;
  color: #CEBC81;
  text-transform: uppercase;
  text-align: right;
  margin-right: 5vw;
}

@media (min-width: 992px) {
  #skills h1 {
    margin-right: 12vw;
  }
}

@media (max-width: 767.98px) {
  #skills h1 {
    font-size: 35px;
  }
}

#skills .row {
  margin-top: 8vw;
}

@media (max-width: 767.98px) {
  #skills .row {
    margin-top: 5rem;
  }
}

#skills .col-5 {
  padding-top: 70px;
}

@media (max-width: 767.98px) {
  #skills .col-5 {
    padding-top: 40px;
  }
}

#skills li:hover span {
  font-weight: 900;
  font-size: 1.3rem;
  transition: 0.4s;
  color: #CEBC81;
}

#skills .small-bar {
  position: absolute;
  right: 35vw;
  width: 200px;
  height: 7px;
  background-color: #CEBC81;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #skills .small-bar {
    right: 27vw;
  }
}

@media (max-width: 767.98px) {
  #skills .small-bar {
    right: 20vw;
    width: 150px;
  }
}

#skills ul {
  color: rgb(196, 196, 196);
}

#skills li {
  background-color: rgba(0,0,0,0);
  border: 0;
  font-family: 'Quicksand', sans-serif;
  padding: 20px 0 0;
}

#skills li span {
  margin-left: 10px;
  font-size: 1.2rem;
}

@media (max-width: 767.98px) {
  #skills ul {
    text-align: center;
  }
  #skills li span {
    display: block;
    margin: 0;
  }
}

@media (max-width: 1199.98px) {
  #skills li span {
    font-size: 1rem;
  }
}

#skills li img {
  width: 70px;
  height: 70px;
}

.object {
  /* bottom: 200px; */
  right: 200px;
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
}