body {
  margin-top: 85px;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff;
}
.navbar .nav-item {
  font-size: 1.2rem;
  padding-right: 20px;
}

/* ABOUT ME */

#aboutme {
  background: rgb(30, 30, 30);
  height: 95vh;
}

#aboutme .container {
  height: 100%;
}

#aboutme .row {
  height: 100%;
}

#aboutme img {
  border: 2px solid white;
}

/* SKILLS */
#skills-heading {
  position: relative;
  min-height: 200px;
  background: url('/static/img/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#skills-heading .row {
  height: 100%;
}

.dark-overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#video-play {
  position: relative;
  min-height: 200px;
  background: url("../img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}
#video-play a {
  color: #fff;
}
