body {
  margin-top: 105px;
}

.main {
  height: 100%;
}

.bg-primary {
  background: #3292a6 !important;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff;
}

.navbar .nav-item {
  font-size: 1.2rem;
  padding-right: 20px;
}


.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

