body {
  padding-top: 85px;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff;
}

.navbar .nav-item {
  font-size: 1.2rem;
  padding-right: 20px;
}

/* ABOUT ME */

#aboutme {
  background: rgb(30, 30, 30);
  height: 100vh;
}

#aboutme .container {
  height: 100%;
}

#aboutme .row {
  height: 100%;
}

#aboutme img {
  border: 2px solid white;
}

#aboutme .pl-4 {
  padding-left: 2.2rem !important;
}

#aboutme .pl-5 {
  padding-left: 4.4rem !important;
}

@media (min-width: 992px) {
  #aboutme span {
    font-size: 2rem;
  }
}


/* Skills */
#skills-heading {
  position: relative;
  min-height: 130px;
  background: url('/static/img/code.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#skills-heading .row {
  height: 100%;
  margin: 0;
}

.dark-overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fa-code {
  color: lightgoldenrodyellow;
}

#skills {
  background: #FEF3E4;
}

#skills .col-2 {
  min-width: 180px;
}

#skills .img-fluid {
  max-width: 77%;
  opacity: 1;
  transition: .5s ease;
}

#skills .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#skills p {
  margin: 0;
  font-size: 1.6rem;
}

#skills .col-2:hover img {
  opacity: 0.4;
}

#skills .col-2:hover .middle {
  opacity: 1;
}


@media (min-width: 540px) and (max-width: 767.98px) {
  #skills .col-2 {
    min-width: 194px;
  }
}

@media (max-width: 767.98px) {
  #skills .col-2 {
    margin-bottom: 15px;
  }
}


/* Portfolios */
#portfolio-heading {
  position: relative;
  min-height: 130px;
  background: url("/static/img/code.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#portfolio-heading .row {
  height: 100%;
  margin: 0;
}

#portfolio .larger {
  width: 100%;
  height: 100%;
  transition: .5s ease;
  margin: 0 auto;
}
#portfolio .larger:hover {
  transform: scale(1.15);
}
#portfolio .larger:hover img {
  opacity: 0.3;
}

#portfolio span {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

#portfolio .larger:hover span {
  opacity: 1;
}

.fa-folder-open {
  color: skyblue;
}

.portImage {
  position: relative;
}

.portImage .top {
  position: relative;
  height: 2rem;
  width: 100%;
  background: rgb(229, 230, 232);
  border-top-left-radius: 7px 7px;
  border-top-right-radius: 7px 7px;
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  box-shadow: 0 1px rgba(152, 152, 152, 0.1);
}

.portImage .top .button {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.portImage .top .red {
  background: #F46467;
  left: 1.3rem;
}

.portImage .top .yellow {
  background: #FCBB3C;
  left: 2.6rem;
}
 
.portImage .top .green {
  background: #36C84B;
  left: 3.9rem;
}

/*
.jobdetails .header {
  background: linear-gradient(to top right, #1f1f1f 7%, #a0a0a0 124%);
  border-radius: 3px 3px;
  padding-bottom: 1rem;
  min-height: 140px;
}
*/

.jobdetails hr {
  height: 1px;
  background: red;
  margin-top: 0.5rem;
  margin-bottom: 1.8rem;
}


.jobdetails h1 {
  animation: fadein 2s;
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
}

@keyframes fadein {
  from {
      opacity:0;
      transform: translate(0, 30px);
  }
  to {
      opacity:1;
  }
}

.jobdetails h2 {
  animation: fadein2 2.5s;
  font-family: 'Crimson Text', serif;
  margin: 0;
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  100% {
    opacity: 1;
  }
}

/* Contact */
#contact-heading {
  position: relative;
  min-height: 130px;
  background: url("/static/img/code.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#contact-heading .row {
  height: 100%;
  margin: 0;
}

.fa-child {
  color: orange;
}

/* Footer */
#footer {
  background: rgb(30, 30, 30);
}

#footer p {
  margin: 0;
}

.body {
  position: relative;
  height: 100vh;
}

@media (max-width: 576px) {
  .toBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
