{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<body id="home">

<nav class="navbar navbar-expand-md navbar-light fixed-top py-1">
  <div class="container">
    <a href="#home" class="navbar-brand">
      <h3 class="d-inline align-middle">Jason</h3>
    </a>
    <div class="navbar-toggler nav-button" data-toggle="collapse" data-target="#navbarNav">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#aboutme" class="nav-link">About Me</a>
        </li>
        <li class="nav-item">
          <a href="#skills-heading" class="nav-link">Skills</a>
        </li>
        <li class="nav-item">
          <a href="#portfolio-heading" class="nav-link">Portfolios</a>
        </li>
        <li class="nav-item">
          <a href="#contact-heading" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'allblogs' %}" class="nav-link">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main role="main">

  <!-- ABOUT ME -->
  <section id="aboutme" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-5 px-5 pr-md-5 align-self-center">
          <img src="{% static 'img/JasonLim.png' %}" class="img-fluid rounded" alt="">
        </div>
        <div class="col-md-7 pl-4 pl-md-5 align-self-center py-3">
          <div class="text-white">
            <span class="lead" id="type-it-1"></span><br>
            <span class="lead pl-4" id="type-it-2"></span><br>
            <span class="lead pl-4" id="type-it-3"></span><br>
            <span class="lead pl-4" id="type-it-4"></span><br>
            <span class="lead pl-5 type-it-yellow" id="type-it-5"></span><br>
            <span class="lead pl-5" id="type-it-6"></span><br>
            <span class="lead pl-4" id="type-it-7"></span><br>
            <span class="lead pl-4" id="type-it-8"></span><br>
            <span class="lead" id="type-it-9"></span><br>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SKILLS -->
  <section id="skills-heading">
    <h1 class="sectionTitle">Skills <i class="fas fa-code"></i></h1>
  </section>

  <section id="skills" class="py-5 text-center">
    <div class="container">
      <div class="row mb-md-4 justify-content-center align-items-center">
        <div class="col-2">
          <img src="{% static 'img/skills/html5.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>HTML</p>
          </div>
        </div>
        <div class="col-2">
          <img src="{% static 'img/skills/css3.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>CSS</p>
          </div>
        </div>
        <div class="col-2">
          <img src="{% static 'img/skills/js.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>JS</p>
          </div>
        </div>
        <div class="col-2">
          <img src="{% static 'img/skills/bootstrap.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>BS4</p>
          </div>
        </div>
      </div>
      <div class="row mb-md-4 justify-content-center align-items-center">
        <div class="col-2">
          <img src="{% static 'img/skills/react.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>React</p>
          </div>
        </div>
        <div class="col-2">
          <img src="{% static 'img/skills/mongodb.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>MongoDB</p>
          </div>
        </div>
        <div class="col-2">
          <img src="{% static 'img/skills/nodejs.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>Node.js</p>
          </div>
        </div>
        <div class="col-2">
          <img src="{% static 'img/skills/django.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>Django</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-2">
          <img src="{% static 'img/skills/sass.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>SASS</p>
          </div>
        </div>
        <div class="col-2">
          <img src="{% static 'img/skills/jquery.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>jQuery</p>
          </div>
        </div>
        <div class="col-2">
          <img src="{% static 'img/skills/postgresql.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>Postgresql</p>
          </div>
        </div>
        <div class="col-2">
          <img src="{% static 'img/skills/git.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>Git</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PORTFOLIO -->
  <section id="portfolio-heading">
    <h1 class="sectionTitle">Portfolio <i class="fas fa-folder-open"></i></h1>
  </section>

  <section id="portfolio" class="py-5 text-center">
    <div class="container">
      <div class="row px-lg-5 justify-content-center align-items-center">
        {% for job in jobs.all %}
          <div class="col-sm-6 col-md-4 px-2 py-2">
              <a href="{% url 'jobdetail' job.id %}">
                <div class="view view-first">  
                  <img src="{{ job.image.url }}" class="img img-thumbnail" />  
                  <div class="mask">  
                  <h2>{{ job.summary }}</h2>  
                  <p>{{ job.skills }}}</p>  
                </div>  
              </a>  
            </div>  
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- CONTACT -->
  <section id="contact-heading">
    <h1 class="sectionTitle">Contact <i class="fas fa-child"></i></h1>
  </section>

  <section id="contact" class="text-center">
    <h3 class="pt-4">Get in Touch with Jason, which means to choose win-win situation! <i class="far fa-handshake"></i></h3>
    <div class="container">
      <div class="row pb-5 pb-md-0">
        <div class="col-6 col-md-3 mt-5">
          <a href="mailto:jlim40@myseneca.ca">
            <div class="circle bounce">
              <i class="fas fa-envelope-square fa-2x"></i>
            </div>
            <br>
            <p>EMAIL</p>
          </a>
        </div>
        <div class="col-6 col-md-3 mt-5">
          <a href="{% static 'JasonLimResume.pdf' %}" target="_blank">
            <div class="circle bounce">
              <i class="fas fa-file-alt fa-2x"></i>
            </div>
            <br>
            <p>RESUME</p>
          </a>
        </div>
        <div class="col-6 col-md-3 mt-5">
          <a href="https://www.linkedin.com/in/jason-jihoon-lim-773836128/" target="_blank">
            <div class="circle bounce">
              <i class="fab fa-linkedin fa-2x"></i>
            </div>
            <br>
            <p>LinkedIn</p>
          </a>
        </div>
        <div class="col-6 col-md-3 mt-5">
          <a href="https://github.com/jlim40" target="_blank">
            <div class="circle bounce">
              <i class="fab fa-github fa-2x"></i>
            </div>
            <br>
            <p>Github</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<footer id="footer" class="py-4 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col ml-auto">
        <p class="lead">&copy; Jason Lim</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}