{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<body id="home">
  <div id="dimmer"></div>

  <div class="flying-bar flying-bar1"></div>
  <div class="flying-bar flying-bar2"></div>
  <div class="flying-bar flying-bar3"></div>
  
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#aboutme">AboutMe</a>
    <a href="#skills-heading">Skills</a>
    <a href="#portfolio-heading">Portfolio</a>
    <a href="#contact-heading">Contact</a>
    <a href="/blog">Blog</a>
  </div>
  <div id="nav-button" class="nav-button-ani" onclick="openNav()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>



  <section id="front-page">
    <!-- <div class="border-top-right"></div>
    <div class="border-bot-left"></div>
    <div class="me-1"></div>
    <div class="me-1"></div>
    <div class="me-2"></div>
    <div class="me-3"></div>
    <div class="macbook"></div>
    <div class="me-4"></div>
    <div class="me-5"></div> -->
  </section>

<main role="main">

  <!-- ABOUT ME -->
  <section id="aboutme">
    <div class="container">
      <div class="row">
        <div class="col-md-4 align-self-center">
          <img src="{% static 'img/profile.jpeg' %}" class="img-fluid rounded" alt="">
        </div>
        <div class="col-md-8 align-self-center">
          <div class="text-white">
            <span id="type-it-1" class="lead"></span><br>
            <span id="type-it-2" class="lead pl-4"></span><br>
            <span id="type-it-3" class="lead pl-4"></span><br>
            <span id="type-it-4" class="lead pl-4"></span><br>
            <span id="type-it-5" class="lead pl-5 type-it-yellow"></span><br>
            <span id="type-it-6" class="lead pl-5"></span><br>
            <span id="type-it-7" class="lead pl-4"></span><br>
            <span id="type-it-8" class="lead pl-4"></span><br>
            <span id="type-it-9" class="lead"></span><br>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SKILLS -->
  <section id="skills-heading">
    <h1 class="sectionTitle">Skills</h1>
  </section>

  <section id="skills" class="text-center">
    <div class="container">
      <div class="row mb-md-4 justify-content-center align-items-center">
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/html5.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>HTML</p>
          </div>
        </div>
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/css3.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>CSS</p>
          </div>
        </div>
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/js.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>JS</p>
          </div>
        </div>
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/bootstrap.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>BS4</p>
          </div>
        </div>
      </div>
      <div class="row mb-md-4 justify-content-center align-items-center">
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/react.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>React</p>
          </div>
        </div>
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/mongodb.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>MongoDB</p>
          </div>
        </div>
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/nodejs.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>Node.js</p>
          </div>
        </div>
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/django.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>Django</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/sass.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>SASS</p>
          </div>
        </div>
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/jquery.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>jQuery</p>
          </div>
        </div>
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/postgresql.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>Postgresql</p>
          </div>
        </div>
        <div class="col-2 hideme">
          <img src="{% static 'img/skills/git.png' %}" class="img-fluid" alt="">
          <div class="middle">
            <p>Git</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PORTFOLIO -->
  <section id="portfolio-heading">
    <h1 class="sectionTitle">Portfolio</h1>
  </section>

  <section id="portfolio" class="text-center">
    <div class="container">
      <div class="row px-lg-5 justify-content-center align-items-center">
        {% for job in jobs.all %}
          <div class="col-sm-6 col-md-4 px-2 py-2">
            {% if job.priority > 0 %}
              <a href="{{ job.link }}" target="_blank">
            {% else %}
              <a href="{% url 'jobdetail' job.id %}">
            {% endif %}
                <div class="view view-first">  
                  <img src="{{ job.image.url }}" class="img img-thumbnail" />  
                  <div class="mask">  
                    <h2>{{ job.title }}</h2>  
                    <p>{{ job.skills }}</p>  
                  </div>  
              </a>  
            </div>  
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- CONTACT -->
  <section id="contact-heading">
    <h1 class="sectionTitle">Contact</h1>
  </section>

  <section id="contact" class="text-center">
    <div class="container">
      <div class="row pb-5 pb-md-0">
        <div class="col-6 col-md-3 mt-5">
          <a href="mailto:jlim40@myseneca.ca">
            <div class="bounce">
              <i class="fas fa-envelope-square fa-2x"></i>
            </div>
            <br>
          </a>
        </div>
        <div class="col-6 col-md-3 mt-5">
          <a href="{% static 'JasonLimResume.pdf' %}" target="_blank">
            <div class="bounce">
              <i class="fas fa-file-alt fa-2x"></i>
            </div>
            <br>
          </a>
        </div>
        <div class="col-6 col-md-3 mt-5">
          <a href="https://www.linkedin.com/in/jason-jihoon-lim-773836128/" target="_blank">
            <div class="bounce">
              <i class="fab fa-linkedin fa-2x"></i>
            </div>
            <br>
          </a>
        </div>
        <div class="col-6 col-md-3 mt-5">
          <a href="https://github.com/jlim40" target="_blank">
            <div class="bounce">
              <i class="fab fa-github fa-2x"></i>
            </div>
            <br>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<footer id="footer" class="py-4 text-white">
  <div class="container-fluid">
    <div class="row text-right">
      <div class="col">
        <p class="lead">&copy; Jason Lim</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}