{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<body id="home">

  <div id="dimmer"></div>

  <nav>
    <div class="flying-bar flying-bar1"></div>
    <div class="flying-bar flying-bar2"></div>
    <div class="flying-bar flying-bar3"></div>
    
    <div id="mySidenav" class="sidenav">
      <a href="#about-me">AboutMe</a>
      <a href="#skills">Skills</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#contact">Contact</a>
      <a href="/blog">Blog</a>
    </div>
    <div id="nav-button" class="nav-button-ani">
      <div class="bar bar1"></div>
      <div class="bar bar2"></div>
      <div class="bar bar3"></div>
    </div>
  </nav>

  <div class="background-words">
    <span data-scroll-speed="2">D</span>
    <span data-scroll-speed="2">E</span>
    <span data-scroll-speed="2">V</span>
    <span data-scroll-speed="2">E</span>
    <span data-scroll-speed="2">L</span>
    <span data-scroll-speed="2">O</span>
    <span data-scroll-speed="2">P</span>
    <span data-scroll-speed="2">E</span>
    <span data-scroll-speed="2">R</span>
  </div>


  <section id="front-page">
    <div class="dark-overlay">
      <div class="container">
        <div class="inner-wrap">
          <span id="front-span1" data-aos="flip-up" data-aos-duration="1000">Ordinary</span><br>
          <span id="front-span2" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="500">Web Developer</span><br>
          <span id="front-span3" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="1000">W/ that Little</span><br>
          <span id="front-span4" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="1500">Extra</span><br>
          <span id="front-span5" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="2000">To make</span><br>
          <span id="front-span6" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="2500">Extraordinary</span>
        </div>
      </div>
    </div>
  </section>



  <section id="about-me">
    <div class="container">
      <h1 data-aos="fade-up" data-aos-delay="200">ANALYSIS</h1>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <span class="small-bar" data-aos="fade-up" data-aos-delay="500"></span>
          <div class="text-box" data-aos="fade-up" data-aos-delay="800">
            Hi, I'm Jason, a web developer based in Toronto.
            <br><br>
            I just simply love to code. My love for technology is insatiable.
            I am always resaerching and experimenting to learn new technical skills!
            <br><br>
            I have an eye for detail.
            I was exposed and worked in 3 different workplaces for serving assured quality.
            Pursuit of perfect quality never ends!
          </div>
        </div>
        <div class="col-12 col-md-6">
          <ul class="list-group">
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1100"><i class="fas fa-check"></i> Passionate</li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1200"><i class="fas fa-check"></i> Self-starter</li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1300"><i class="fas fa-check"></i> Dedicated</li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1400"><i class="fas fa-check"></i> Detail-oriented</li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1500"><i class="fas fa-check"></i> Team Player</li>
          </ul>
        </div>
      </div>
    </div>
  </section>



  <section id="skills">
    <div class="container-fluid">
      <h1 data-aos="fade-up" data-aos-delay="200">Implementation</h1>
      <div class="row justify-content-center">
        <div class="small-bar" data-aos="fade-up" data-aos-delay="500"></div>
        <div class="col-5 col-md-4 col-lg-3">
          <ul class="list-group">
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="800">
              <img src="{% static 'img/skills/html5.png' %}" class="img-fluid" alt="">
              <span>HTML5</span>
            </li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1000">
              <img src="{% static 'img/skills/js.png' %}" class="img-fluid" alt="">
              <span>JavaScript</span>
            </li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1200">
              <img src="{% static 'img/skills/react.png' %}" class="img-fluid" alt="">
              <span>React</span>
            </li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1400">
              <img src="{% static 'img/skills/django.png' %}" class="img-fluid" alt="">
              <span>Django2</span>
            </li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1600">
              <img src="{% static 'img/skills/bootstrap.png' %}" class="img-fluid" alt="">
              <span>Bootstrap4</span>
            </li>
          </ul>
        </div>
        <div class="col-5 col-md-4 col-lg-3">
          <ul class="list-group">
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="900">
              <img src="{% static 'img/skills/css3.png' %}" class="img-fluid" alt="">
              <span>CSS3</span>
            </li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1100">
              <img src="{% static 'img/skills/jquery.png' %}" class="img-fluid" alt="">
              <span>jQuery</span>
            </li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1300">
              <img src="{% static 'img/skills/nodejs.png' %}" class="img-fluid" alt="">
              <span>Node.js</span>
            </li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1500">
              <img src="{% static 'img/skills/sass.png' %}" class="img-fluid" alt="">
              <span>SASS</span>
            </li>
            <li class="list-group-item" data-aos="zoom-in-up" data-aos-delay="1700">
              <img src="{% static 'img/skills/git.png' %}" class="img-fluid" alt="">
              <span>Git</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>



  <section id="portfolio">
    <div class="container">
      <h1 data-aos="fade-up" data-aos-delay="200">Deployment</h1>
      <div class="small-bar" data-aos="fade-up" data-aos-delay="500"></div>
        <div class="row">
          {% for job in jobs.all %}
            <div class="col-lg-4 col-sm-6 col-xs-12"　data-aos="fade-up" data-aos="fade-up" data-aos-delay="800">
              {% if job.priority > 0 %}
                <a class="info" href="{{ job.link }}" target="_blank">
              {% else %}
                <a class="info" href="{% url 'jobdetail' job.id %}">
              {% endif %}
                <div class="hovereffect">
                  <img class="img-fluid" src="{{ job.image.url }}" alt="">
                  <div class="overlay">
                    <h2>{{ job.title }}</h2>
                    <p class="info">{{ job.skills }}</p>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <h1 data-aos="fade-up" data-aos-delay="200">Contact</h1>
        <div class="row">
          <div class="col-12">
            <p>Stay in Touch!</p>
          </div>
          <div class="col-12">
            <div class="small-bar" data-aos="fade-up" data-aos-delay="500"></div>
          </div>
        </div>
        <div class="row icons justify-content-center" data-aos="fade-down" data-aos-delay="800" data-aos-duration="3000">
          <div class="col-5 col-lg-2">
            <div class="circle faa-shake animated-hover">
              <i class="fas fa-paper-plane"></i>
            </div>
          </div>
          <div class="col-5 col-lg-2">
            <div class="circle faa-shake animated-hover">
              <i class="far fa-file-alt"></i>
            </div>
          </div>
          <div class="col-5 col-lg-2">
            <div class="circle faa-shake animated-hover">
              <i class="fab fa-linkedin"></i>
            </div>
          </div>
          <div class="col-5 col-lg-2">
            <div class="circle faa-shake animated-hover">
              <i class="fab fa-github"></i>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>



{% endblock %}