{% extends 'portfolio/base.html' %}

{% block content %}

<nav class="navbar navbar-expand-md navbar-light fixed-top py-2">
  <div class="container">
    <a href="#home" class="navbar-brand">
      <h3 class="d-inline align-middle">Jason</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/#aboutme" class="nav-link">About Me</a>
        </li>
        <li class="nav-item">
          <a href="/#skills-heading" class="nav-link">Skills</a>
        </li>
        <li class="nav-item">
          <a href="/#portfolio-heading" class="nav-link">Portfolios</a>
        </li>
        <li class="nav-item">
          <a href="/#contact-heading" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'allblogs' %}" class="nav-link">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main role="main">
  <div class="container">
    <h1 class="text-center pt-3">{{ job.skills }}</h1>
    <p class="text-center bgcolor">{{ job.summary }}</p>
    <img class="img-fluid" src="{{ job.image.url }}">
    <br>
  </div>
</main>
{% endblock %}