{% extends 'portfolio/base.html' %}

{% block content %}

<body id="home" class="body">

<nav class="navbar navbar-expand-md navbar-light fixed-top py-2">
  <div class="container">
    <a href="#home" class="navbar-brand">
      <h3 class="d-inline align-middle">Jason</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/#aboutme" class="nav-link">About Me</a>
        </li>
        <li class="nav-item">
          <a href="/#skills-heading" class="nav-link">Skills</a>
        </li>
        <li class="nav-item">
          <a href="/#portfolio-heading" class="nav-link">Portfolios</a>
        </li>
        <li class="nav-item">
          <a href="/#contact-heading" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'allblogs' %}" class="nav-link">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main role="main" class="jobdetails">
  <div class="container mb-5">
    <div class="header">
        <h1 class="text-center bgcolor">{{ job.summary }}</h1>
        <h2 class="text-center">{{ job.skills }}</h2>
    </div>
    <hr>
    <div class="portImage">
      <div class="top">
        <div class="button red"></div>
        <div class="button yellow"></div>
        <div class="button green"></div>
      </div>
      <img class="img-fluid img-thumbnail" src="{{ job.image.url }}">
      <br>
    </div>
  </div>
</main>


<footer id="footer" class="py-4 text-white toBottom">
  <div class="container">
    <div class="row text-center">
      <div class="col ml-auto">
        <p class="lead">&copy; Jason Lim</p>
      </div>
    </div>
  </div>
</footer>


{% endblock %}