{% extends 'portfolio/base.html' %}

{% block content %}

<body id="home">

  <div id="dimmer"></div>

  <nav>
    <div class="flying-bar flying-bar1"></div>
    <div class="flying-bar flying-bar2"></div>
    <div class="flying-bar flying-bar3"></div>
    
    <div id="mySidenav" class="sidenav">
      <a href="/#about-me">AboutMe</a>
      <a href="/#skills">Skills</a>
      <a href="/#portfolio">Portfolio</a>
      <a href="/#contact">Contact</a>
      <a href="/blog">Blog</a>
    </div>
    <div id="nav-button" class="nav-button-ani">
      <div class="bar bar1"></div>
      <div class="bar bar2"></div>
      <div class="bar bar3"></div>
    </div>
  </nav>


<main role="main" class="jobdetails">
  <div class="container mb-5">
    <div class="header">
      <h1 class="text-center bgcolor">{{ job.title }}</h1>
      <h2 class="text-center">{{ job.skills }}</h2>
    </div>
    <hr>
    <div class="portImage">
      <div class="top">
        <div class="button red"></div>
        <div class="button yellow"></div>
        <div class="button green"></div>
      </div>
      <img class="img-fluid img-thumbnail" src="{{ job.image.url }}">
      <br>
    </div>
  </div>
</main>

{% endblock %}